@model TicketHubApp.PlatformViewModels.ShopViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="row col-md-12">
    <div class="col-md-6">
        <h2 class="my-5">後台管理系統 / 會員管理 / 刪除商家</h2>
        <hr />
        @* 商家頭像 *@
        <img src="" alt="Alternate Text" />
    </div>
    <div class="col-md-6">
        <ul>
            <li>  @Html.DisplayNameFor(model => model.Id) :  @Html.DisplayFor(model => model.Id)</li>
            <li>  @Html.DisplayNameFor(model => model.ShopName) :  @Html.DisplayFor(model => model.ShopName)</li>
            <li>  @Html.DisplayNameFor(model => model.Phone) :  @Html.DisplayFor(model => model.Phone)</li>
            <li>  @Html.DisplayNameFor(model => model.Fax) :  @Html.DisplayFor(model => model.Fax)</li>
            <li>  @Html.DisplayNameFor(model => model.Address) :  @Html.DisplayFor(model => model.Address)</li>
            <li>  @Html.DisplayNameFor(model => model.Email) :  @Html.DisplayFor(model => model.Email)</li>
            <li>  @Html.DisplayNameFor(model => model.Website) :  @Html.DisplayFor(model => model.Website)</li>
        </ul>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="刪除商家資料" class="btn btn-outline-danger" />
                <a href="~/ShopViewModels/Index" class="btn btn-outline-secondary">回到商家列表</a>
            </div>
        }
    </div>
</div>
@section endCSS{
    <style>

    </style>
}
@section endJS{
    <script>

    </script>
}