@model IEnumerable<TicketHubApp.PlatformViewModels.ShopViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>後台管理系統 / 商家管理 / 商家列表</h2>
<hr />

<table class="table table-striped table-hover col-md-12">
    <thead>
        <tr class="row">
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th class="col-md-3">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row" onclick="goToDetail('@item.Id')">
                <td class="col-md-2 overflow-auto">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-md-1 overflow-auto">
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td class="col-md-1 overflow-auto">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="col-md-1 overflow-auto">
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td class="col-md-2 overflow-auto">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="col-md-1 overflow-auto">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="col-md-1 overflow-auto">
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td class="link col-md-3">
                    <a href="~/ShopViewModels/Edit/@item.Id"><span class="iconify" data-icon="ic:baseline-edit" data-inline="false"></span></a>
                    <a href="~/ShopViewModels/Details/@item.Id"><span class="iconify" data-icon="ic:round-store" data-inline="false"></span></a>
                    <a href="~/ShopViewModels/Delete/@item.Id"><span class="iconify" data-icon="uil:store-slash" data-inline="false"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a href="~/ShopViewModels/Create" class="btn btn-outline-success"><span class="iconify" data-icon="ic:outline-add-business" data-inline="false"></span>  新增商家</a>
</p>
@section endCSS{
    <style>
        table tbody .link a {
            transition: 0.5s;
            color: black !important;
            padding: 10px 15px;
            background-color: white;
            border-radius: 10px;
        }

            table tbody .link a:hover {
                background-color: #26BEC9;
            }

                table tbody .link a:hover svg {
                    color: white;
                }
    </style>
}

@section endJS{
    <script>
        function goToDetail(id) {
            window.location.assign("Details/" + id);
        }
    </script>
}