@model TicketHubApp.Models.ViewModels.SortNewCardViewModel

<div class="product-item rounded border overflow-hidden mx-2 mt-4">
    <a href="../Home/Product/@Model.Id" target="">
        <div class="product-img img-h-md lazyload-img">
            <img src="@Model.ImgPath" alt="@Model.Title">
        </div>
    </a>
    <div class="product-detail p-2">
        <input type="hidden" id="chart_id" value="@Model.Id">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3 class="text-md-1 mb-0" id="Title">@Model.Title</h3>
            @*<a href="" class="whish-btn hov-color-shop text-md-6">
                <span class="iconify" data-icon="eva:heart-outline" data-inline="false"></span>
            </a>*@
            @*判斷加入收藏*@
            @Html.Partial("_WishCard",Model)
        </div>
        <h4 class="text-md-1 text-muted mb-1 text-overflow-2" id="details">@Model.Memo</h4>
        <div class="d-flex">
            <div class="tag tag-blue">
                最新
            </div>
            <div class="tag tag-green">
                國旅卡
            </div>
            <div class="tag tag-red">
                可外帶
            </div>
            <div class="tag tag-orange">
                首賣
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <span class="text-line-through text-sm-9 text-muted align-self-end">
                $@Model.OriginalPrice
            </span>
            <span class="currentPrice text-md-3" id="DiscountPrice">
                $@Model.DiscountPrice
            </span>
        </div>
        <div class="text-muted text-right text-sm-9">售 @Model.Amount 份</div>
        <hr>
        <div class="row">
            <div class="col-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary sub_button" id="">
                            <span class="iconify" data-icon="ant-design:minus-outlined" data-inline="false"></span>
                        </button>
                    </div>
                    <input type="number" id="cartcount" class="form-control cartcount" value="1">
                    <div class="input-group-append">
                        <button class="btn btn-secondary add_button" id="">
                            <span class="iconify" data-icon="codicon:add" data-inline="false"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <button class="btn btn-cust w-100 addCart" id="addCart">加入購買</button>
            </div>
        </div>
    </div>
</div>
@section endJS{ 
    <script>
       
    </script>
}}