@model TicketHubApp.Models.ViewModels.HomeListViewModel
@{
    ViewBag.Title = "TicketHub";
}

<div class="position-relative">
    <div class="banner-img">
        <img class="w-100" src="/Assets/Images/Home/studioBanner.jpg" alt="">
    </div>
    <div class="content-box">
        <div class="title-block">
            <h1 class="text-white text-md-6 font-weight-bolder p-2">盡情揮灑生活的色彩，更多票劵等待發現</h1>
            <p class="text-white text-sm-9 font-weight-bolder">規劃不一樣的旅程，探索近在咫尺的美食。</p>
        </div>
        <div class="search-bar d-flex justify-content-center p-2">
            <div class="dropdown">
                <a class="font-weight-bolder text-md-2 hov-color-cust" data-toggle="dropdown">
                    探索城市
                    <span class="iconify" data-icon="dashicons:arrow-down-alt2" data-inline="false"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-col-2 text-sm-9 border-0">
                    <li class="dropdown-item active-color-cust active">@Html.ActionLink("台北", "ShopList", "Customer", new { input = "台北市" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("基隆", "ShopList", "Customer", new { input = "基隆市" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("新北", "ShopList", "Customer", new { input = "新北市" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("宜蘭", "ShopList", "Customer", new { input = "宜蘭縣" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("桃園", "ShopList", "Customer", new { input = "桃園市" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("台中", "ShopList", "Customer", new { input = "台中市" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("台南", "ShopList", "Customer", new { input = "台南市" }, new { @class = "rounded hov-color-cust" })</li>
                    <li class="dropdown-item active-color-cust">@Html.ActionLink("高雄", "ShopList", "Customer", new { input = "高雄市" }, new { @class = "rounded hov-color-cust" })</li>
                </ul>
            </div>
            <div class="dropdown ml-5">
                <a class="font-weight-bolder text-md-2 hov-color-cust" data-toggle="dropdown">
                    探索美食
                    <span class="iconify" data-icon="dashicons:arrow-down-alt2" data-inline="false"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-col-3 text-sm-9 border-0">
                    <li class="dropdown-item active-color-cust active"><a href="">中式料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">韓式料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">日式料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">泰式料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">港式料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">義式料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">蔬食料理</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">烘培點心</a></li>
                    <li class="dropdown-item active-color-cust"><a href="" class="rounded hov-color-cust">特選餐廳</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-12 mx-auto mt-2">
            <div class="carousel-autoplay owl-carousel owl-theme">
                <div class="item">
                    <a href="" target="">
                        <img class="img-md2" data-src="" alt="臺灣美食行動Go"
                             src="https://imgur.com/KJmbsd2.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="" target="">
                        <img class="img-md2" data-src="" alt="消費享回饋"
                             src="https://imgur.com/eky304T.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="" target="">
                        <img class="img-md2" data-src="" alt="宅配+APP結帳再打75折"
                             src="https://imgur.com/PxbxcoB.jpg">
                    </a>
                </div>
                <div class="item">
                    <a href="" target="">
                        <img class="img-md2" data-src="" alt="假日特賣會"
                             src="https://imgur.com/VpIaAc9.jpg">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-around text-center text-muted mt-4">
                <div class="class-icon">
                    <button class="card-shop btn">
                        <img src="/Assets/Images/Home/travel.png" alt="">
                    </button>
                    <h5>地區美食</h5>
                </div>
                <div class="class-icon">
                    <button class="card-shop btn">
                        <img src="/Assets/Images/Home/takeout.png" alt="">
                    </button>
                    <h5>美食外帶</h5>
                </div>
                <div class="class-icon">
                    <button class="card-shop btn">
                        <img src="/Assets/Images/Home/food.png" alt="">
                    </button>
                    <h5>餐廳美食</h5>
                </div>
                <div class="class-icon">
                    <button class="card-shop btn">
                        <img src="/Assets/Images/Home/bed.png" alt="">
                    </button>
                    <h5>熱門美食</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-12 mx-auto mt-2">
            <div class="rounded border shadow p-2">
                <div class="card-tab">
                    <h5>限時搶購</h5>
                    <div class="d-flex justify-content-start" id="ddCountdown__panel" data-untilts="223313">
                        <div class="timer" id="ddCountdown__hour">62</div>
                        <div class="timer-"> : </div>
                        <div class="timer" id="ddCountdown__min">01</div>
                        <div class="timer-"> : </div>
                        <div class="timer" id="ddCountdown__second">00</div>
                    </div>
                </div>
                <div class="carousel1 owl-carousel owl-theme mt-1">
                    @for (var i = 0; i < 3; i++)
                    {
                        var item = Model.LimitedtimeItems.Items[i];
                        @Html.Partial("_LimitedtimeCard", item)
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <div class="text-center">
            <h3 class="class-title">超值特選餐廳</h3>
            <div class="class-divider"></div>
        </div>
        <div class="carousel2 owl-carousel mt-4">
            @foreach (var item in Model.BestSellerItems.Items)
            {
                @Html.Partial("_CarouselCard", item)
            }
        </div>
    </div>
    <div class="my-5">
        <div class="text-center">
            <h3 class="class-title">熱賣票劵</h3>
            <div class="class-divider"></div>
        </div>
        <div class="carousel2 owl-carousel mt-4">
            @foreach (var item in Model.RecommenItems.Items)
            {
                @Html.Partial("_CarouselCard", item)
            }
        </div>
    </div>

    <div class="my-5">
        <div class="text-center">
            <h3 class="class-title">最新推出</h3>
            <div class="class-divider"></div>
        </div>
        <div class="row" id="moreCard">
            @for (var i = 0; i < 6; i++)
            {
                var item = Model.SortNewItems.Items[i];
                <div class="col-md-4 col-sm-12">
                    @Html.Partial("_SortNewCard", item)
                </div>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <button class="btn btn-success btn-block" id="showMore" onclick="fetchData()">顯示更多票劵</button>
        </div>
    </div>
</div>
<br>
<br>
<!-- ------ -->
<button class="" id="btnScroll">▲<h6>Top</h6></button>
<!-- ------ -->
@section endJS{
    <script>

        // 熱賣票劵
        $.ajax({
            type: 'GET',
            url: 'BestSellerCardApi',
            success: function (json) {
                //alert("123");
                //json = JSON.parse(json);
                //genTable(json, parentId, template);
                json = JSON.parse(json);
                console.log(json)

            }
        });


        var count = 6;
        //var show = document.getElementById("cardShow"); //template id
        //body.onload = fetchData(); //在頁面载入完成后 觸發

        //$.ajax({
        //    type: 'GET',
        //    url: 'CardApi',
        //    async: false,
        //    success: function (json) {
        //        //json = JSON.parse(json);
        //        //genTable(json, parentId, template);
        //        console.log(json)
        //        ticketcard = json.Items
        //        //alert("123");
        //    }
        //});

        function fetchData() {
            var scrollPosition = window.pageYOffset;
            var ticketcard;
            $.ajax({
                type: 'GET',
                url: 'CardApi',
                data: { currCount: count },
                async: false,
                success: function (json) {
                    //json = JSON.parse(json);
                    //genTable(json, parentId, template);
                    ticketcard = json.Items
                    count += 6;
                }
            });

            let card = document.getElementById("moreCard")

            for (var item of ticketcard)
            {
                //console.log(item);
                //let CardContent = card.content.cloneNode(true);
                //let a = getElementById("card_a");
                //let img = getElementById("card_img");
                //let title = getElementById("Title");
                //let details = getElementById("detials");

                //CardContent.querySelector("img").src = productCartArray[i].ImgPath;

                let html = `
    <div class="product-item rounded border overflow-hidden mx-2 mt-4 col-md-4 col-sm-12">
    <a href="/ProductDescription/ProductDescription/${item.Id}" target="">
        <div class="product-img img-h-md lazyload-img">
            <img src="${item.ImgPath}" alt="${item.Title}">
        </div>
    </a>
    <div class="product-detail p-2">
        <input type="hidden" id="chart_id" value="${item.Id}">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3 class="text-md-1 mb-0" id="Title">${item.Title}</h3>
            <a href="" class="whish-btn hov-color-shop text-md-6">
                <span class="iconify" data-icon="eva:heart-outline" data-inline="false"></span>
                @*<span class="iconify" data-icon="eva:heart-fill" data-inline="false"></span>*@
            </a>
        </div>
        <h4 class="text-md-1 text-muted mb-1 text-overflow-2" id="details">${item.Memo}</h4>
        <div class="d-flex">
            <div class="tag tag-blue">
                最新
            </div>
            <div class="tag tag-green">
                國旅卡
            </div>
            <div class="tag tag-red">
                可外帶
            </div>
            <div class="tag tag-orange">
                首賣
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <span class="text-line-through text-sm-9 text-muted align-self-end">
                $${item.OriginalPrice}
            </span>
            <span class="currentPrice text-md-3" id="DiscountPrice">
                $${item.DiscountPrice}
            </span>
        </div>
        <div class="text-muted text-right text-sm-9">售${item.Amount}份</div>
        <hr>
        <div class="row">
            <div class="col-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary sub_button" id="">
                            <span class="iconify" data-icon="ant-design:minus-outlined" data-inline="false"></span>
                        </button>
                    </div>
                    <input type="number" id="cartcount" class="form-control cartcount" value="1">
                    <div class="input-group-append">
                        <button class="btn btn-secondary add_button" id="">
                            <span class="iconify" data-icon="codicon:add" data-inline="false"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <button class="btn btn-cust w-100" id="addCart">加入購買</button>
            </div>
        </div>
    </div>
</div>


                    `
                card.innerHTML += html;
                window.scrollTo(100, scrollPosition);
            }
        }









        //選取元素
        function $g(selector) {
            //判斷是否為id selector
            if (selector.includes('#') && !selector.includes(' ')) {
                //回傳Element
                return document.querySelector(selector);
            }

            //回傳NodeList集合
            let nodelist = document.querySelectorAll(selector);

            return nodelist.length == 1 ? nodelist[0] : nodelist;
        }


    </script>
}