@model IEnumerable<TicketHubApp.PlatformViewModels.MemberViewModel>

    <h2>@ViewBag.key</h2>
<h2 class="my-5">後台管理系統 / 會員管理 / 會員列表</h2>
<hr />

<form action="SearchByUserName" method="post">
    <select>
        <option value="UserName" title="請輸入會員名稱" class="SearchByUserName">依照會員名稱</option>
        <option value="Account" title="請輸入會員帳號" class="SearchByAccount">依照會員帳號</option>
        <option value="Email" title="請輸入會員電子郵件" class="SearchByEmail">依照會員電子郵件</option>
        <option value="Mobile" title="請輸入會員手機號碼" class="SearchByMobile">依照會員手機號碼</option>
    </select>

    <label for="Search">搜尋會員</label>
    <input type="text" name="UserName" value="" id="Search" placeholder="請輸入會員名稱..." />
    <input type="submit" value="搜尋" />
</form>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="goToDetail('@item.Id')">
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td class="link">
                    <a href="~/MemberViewModels/Edit/@item.Id"><span class="iconify" data-icon="mdi:account-edit" data-inline="false"></span></a>
                    <a href="~/MemberViewModels/Details/@item.Id"><span class="iconify" data-icon="mdi:account-box-multiple" data-inline="false"></span></a>
                    <a href="~/MemberViewModels/Delete/@item.Id"><span class="iconify" data-icon="mdi:account-remove" data-inline="false"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a href="~/MemberViewModels/Create" class="btn btn-outline-success"><span class="iconify" data-icon="mdi:account-plus" data-inline="false"></span>  新增會員</a>
</p>

@section endCSS{
    <style>
        table tbody td[class="link"] a {
            transition: 0.5s;
            color: black !important;
            padding: 10px 15px;
            background-color: white;
            border-radius: 10px;
        }

            table tbody td[class="link"] a:hover {
                background-color: #26BEC9;
            }

                table tbody td[class="link"] a:hover svg {
                    color: white;
                }
    </style>
}

@section endJS{
    <script>
        function goToDetail(id) {
            window.location.assign("Details/" + id);
        }
        // 下拉式選單 change 事件
        let select = document.querySelector('select');
        

        select.addEventListener('change', function () {
            console.log(this.options[this.selectedIndex].value);
            document.querySelector('#Search').name = this.options[this.selectedIndex].value;
            console.log(this.options[this.selectedIndex].class);
            document.querySelector('#Search').placeholder = this.options[this.selectedIndex].title;
            document.querySelector('form').action = this.options[this.selectedIndex].className;
        });
    </script>
}