@model IEnumerable<TicketHubApp.Models.ViewModels.ShopEmployeeViewModel>


<div class="container employeeList">
    <div class="row">
        <div class="col-12 bg-white shadow p-3">
            <div class="col-12 m-auto">
                <div class="tableBlock pt-3">
                    <h3 style="color: #6c6c6c"><b>員工列表</b></h3>
                    <table class="table table-bordered table-hover w-100 my-4" style="table-layout:fixed;">
                        <thead class="position-sticky">
                            <tr>
                                <th width="25%">姓名</th>
                                <th width="30%">帳號 (Email)</th>
                                <th width="13%">手機</th>
                                <th width="7%">性別</th>
                                <th width="15%">職位</th>
                                <th width="8%"></th>
                            </tr>
                        </thead>
                        <tbody id="ticketList" class="text-break">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">@item.UserName</td>
                                    <td class="align-middle">@item.Email</td>
                                    <td class="align-middle">@item.Phone</td>
                                    <td class="align-middle">@item.Gender</td>
                                    <td class="align-middle">@item.RoleName</td>
                                    <td class="align-middle">
                                        @Html.ActionLink("刪除", "deleteEmployeeApi", new { id = item.UserId }, new { @class = "btn redBtn" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="btnList p-2">
                    @Html.ActionLink("新增員工", "EmployeeCreate", "Shop", null, new { @class = "btn blueBtn" })
                </div>
            </div>
        </div>

    </div>
</div>

@section topCSS{
    <link href="~/Assets/CSS/Shop/Shop.min.css" rel="stylesheet" />
}
