@model IEnumerable<TicketHubApp.Models.ViewModels.ShopViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchList = ViewBag.SearchString.Split(' ');
}

@Styles.Render("~/bundles/css/ShopList")

@section scripts{
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyO1vy0QaITVTahKLSJYfw_bgPxI7H7IU&callback=initMap">
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-7 restaurant-area">
            <h3 class="mt-4 ml-3">精選美饌</h3>
            <div class="tag-list ml-3 my-4">
                @foreach(var s in searchList)
                {
                    <div class="badge badge-pill mx-1">@s</div>
                }
            </div>
            <div class="restaurant-list">
                @foreach (var restaurant in Model)
                {
                    @Html.Partial("_ShopCardPartial", restaurant);
                }
            </div>
        </div>
        <div class="map-area col-5">
            <div id="map" class="map w-100">
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/js/jquery")
@Scripts.Render("~/bundles/js/bootstrap")
@Scripts.Render("~/bundles/js/ShopList")

@section endJS{
    <script>

        @*function addToFavorite(shopId) {
            console.dir(event.target)
            event.target.setAttribute('data-icon', 'bi:heart-fill')
            $.ajax({
                cache: false,
                url: "AddToFavoriteList",
                method: "post",
                data:{
                    ShopId: shopId,
                    UserId: "@ViewBag.UserId"
                },
                success: function () {
                    alert("success");
                },
                error: function () {
                    alert("failed");
                }
            });
        }*@

        function controlFromFavorite(Icon) {

            $.ajax({
                cache: false,
                url: "../Shop/ToggleFavoriteList",
                method: "post",
                data: {
                    ShopId: Icon.getAttributeNode('shopid').value,
                    UserId: "@ViewBag.UserId"
                },
                success: function () {
                },
                error: function () {
                    alert("failed");
                },
                complete: function () {
                    if (Icon.getAttribute('data-icon') == "bi:heart-fill") {
                        Icon.setAttribute('data-icon', 'bi:heart')
                    } else {
                        Icon.setAttribute('data-icon', 'bi:heart-fill')
                    }
                }
            });
        }
    </script>
}

