<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/Login")
</head>
<body>
    <div id="login-backImg">
    </div>
    <div class="login-container d-flex justify-content-center position-relative p-0">
        @RenderBody()
    </div>
    @Html.Partial("_ValidationSummary", ViewData.ModelState)

    @Scripts.Render("~/bundles/js/Login")
    <script type="module" src="~/Assets/JavaScript/Login/login.js"></script>
</body>
</html>
