@model TicketHubApp.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

@using (Html.BeginForm("UserLogin", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="cust" class="login-card row flex-column flex-md-row my-3 my-md-5 active">
        <div class="col-12 col-md-10 ticketStub tickets d-flex flex-column flex-md-row py-2">
            <div class="col-12 col-md-6 coupon-img text-center d-flex flex-column justify-content-center">
                <h1>Get More Discount!</h1>
            </div>
            <div class="col-12 col-md-6 coupon-login p-2">
                <h2>Wellcom <span>TicketHub!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, laudantium!</p>
                <div class="input-group">
                    <div class="input-label w-100 d-flex justify-content-between">
                        <span><span class="iconify" data-icon="mdi:account-circle" data-inline="false"></span> Account: @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span>
                        <label class="m-0">Sign up <input class="signup" type="checkbox" name="IsSignUp" value="true" id="cust-signup" data-target="cust" /></label>
                    </div>
                    <input class="w-100 my-1" type="email" name="Email" id="cust-Email" placeholder="example@tickethub.com" data-val="true" data-val-required="required" />
                </div>
                <div class="input-group">
                    <span><span class="iconify" data-icon="ic:baseline-vpn-key" data-inline="false"></span> Password: @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                    <input class="w-100 my-1" type="password" name="Password" id="cust-password" data-val="true" data-val-required="required" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 ticketReceipt tickets d-flex flex-row flex-md-column align-items-center justify-content-between">
            <text class="ticketImprint d-none d-md-inline">Customers</text>
            <div class="barcode-content">
                <svg class="barcode"></svg>
            </div>
            <button id="cust-login" class="login px-2" data-target="cust" type="submit">Go Get Discount!</button>
            <div class="ticketImprint">
                <text class="actionType">Log in </text>
                <text class="d-inline d-md-none">Customers</text>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("ShopLogin", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="shop" class="login-card row flex-column flex-md-row my-3 my-md-5">
        <div class="col-12 col-md-10 ticketStub tickets d-flex flex-column flex-md-row py-2">
            <div class="col-12 col-md-6 coupon-img text-center d-flex flex-column justify-content-center">
                <h1>Get More Discount!</h1>
            </div>
            <div class="col-12 col-md-6 coupon-login p-2">
                <h2>Wellcom <span>TicketHub!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, laudantium!</p>
                <div class="input-group">
                    <span><span class="iconify" data-icon="mdi:account-circle" data-inline="false"></span> Account: @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span>
                    <input class="w-100 my-1" type="email" name="Email" id="shop-email" placeholder="example@tickethub.com" data-val="true" data-val-required="required" />
                </div>
                <div class="input-group">
                    <span><span class="iconify" data-icon="ic:baseline-vpn-key" data-inline="false"></span> Password: @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                    <input class="w-100 my-1" type="password" name="Password" id="shop-password" data-val="true" data-val-required="required" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 ticketReceipt tickets d-flex flex-row flex-md-column align-items-center justify-content-between">
            <text class="ticketImprint d-none d-md-inline">Shops</text>
            <div class="barcode-content">
                <svg class="barcode"></svg>
            </div>
            <button id="shop-login" class="login px-2" data-target="shop" type="submit">Go Get Discount!</button>
            <div class="ticketImprint">
                <text class="actionType">Log in </text>
                <text class="d-inline d-md-none">Shops</text>
            </div>
        </div>
    </div>
}