@model TicketHubApp.Models.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

<div id="info-warning" class="info-card my-5">
    <div class="col-12 ticketStubVertical tickets py-2 text-center">
        <h2>TicketHub</h2>
        <span class="iconify info-icon warning" data-icon="mdi:lock-reset" data-inline="false"></span>
        <h3>
            <span>Reset Your Password</span>
        </h3>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)

            <div class="input-group">
                <span><span class="iconify" data-icon="mdi:account-circle" data-inline="false"></span> Account: @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span>
                <input class="w-100 my-1" type="email" name="Email" id="Email" placeholder="example@tickethub.com" data-val="true" data-val-required="required" />
            </div>
            <div class="input-group">
                <span><span class="iconify" data-icon="ic:baseline-vpn-key" data-inline="false"></span> Password: @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                <input class="w-100 my-1" type="password" name="Password" id="Password" data-val="true" data-val-required="required" />
            </div>
            <div class="input-group">
                <span><span class="iconify" data-icon="ic:baseline-vpn-key" data-inline="false"></span> Confirm Password: @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</span>
                <input class="w-100 my-1" type="password" name="ConfirmPassword" id="ConfirmPassword" data-val="true" data-val-required="required" />
            </div>
            <button id="reset-password" class="btn btn-platform w-100 my-3" type="submit">Reset Password</button>
        }
    </div>
    <div class="col-12 ticketReceiptVertical tickets text-center">
        <text class="ticketImprint">Reset</text>
        <div class="barcode-content">
            <svg class="barcode"></svg>
        </div>
    </div>
</div>
