@model TicketHubApp.PlatformViewModels.ShopViewModel

<div class="row col-md-12">
    <div class="col-md-6">
        <h2 class="my-5">後台管理系統 / 商家管理 / 商家明細</h2>
        <hr />
        @* 商家圖像 *@
        <img src="" alt="Alternate Text" />
    </div>
    <div class="col-md-6">
        <ul>
            <li>  @Html.DisplayNameFor(model => model.Id) :  @Html.DisplayFor(model => model.Id)</li>
            <li>  @Html.DisplayNameFor(model => model.ShopName) :  @Html.DisplayFor(model => model.ShopName)</li>
            <li>  @Html.DisplayNameFor(model => model.Phone) :  @Html.DisplayFor(model => model.Phone)</li>
            <li>  @Html.DisplayNameFor(model => model.Fax) :  @Html.DisplayFor(model => model.Fax)</li>
            <li>  @Html.DisplayNameFor(model => model.Address) :  @Html.DisplayFor(model => model.Address)</li>
            <li>  @Html.DisplayNameFor(model => model.Email) :  @Html.DisplayFor(model => model.Email)</li>
            <li>  @Html.DisplayNameFor(model => model.Website) :  @Html.DisplayFor(model => model.Website)</li>
        </ul>
        <a href="~/ShopViewModels/Edit/@Model.Id" class="btn btn-outline-success"><span class="iconify" data-icon="mdi:account-edit" data-inline="false"></span>修改商家資料</a>
        <a href="~/ShopViewModels/Delete/@Model.Id" class="btn btn-outline-danger"><span class="iconify" data-icon="mdi:account-remove" data-inline="false"></span>刪除商家資料</a>
        <a href="~/ShopViewModels/Index" class="btn btn-outline-secondary">回到商家列表</a>
    </div>
</div>

@section endCSS{
    <style>

    </style>
}
@section endJS{
    <script>

    </script>
}

