@model IEnumerable<TicketHubApp.Models.ViewModels.ShopViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchList = ViewBag.SearchString.Split(' ');
    var geometrys = new List<string>();
    foreach(var i in Model)
    {
        geometrys.Add(i.Geometry);
    }
    var geometryJson = Json.Encode(geometrys);
}

@Styles.Render("~/bundles/css/ShopList")

@section scripts{
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyO1vy0QaITVTahKLSJYfw_bgPxI7H7IU&callback=initMap">
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-7 restaurant-area">
            <h3 class="mt-4 ml-3">精選美饌</h3>
            <div class="tag-list ml-3 my-4">
                @foreach (var s in searchList)
                {
                    <div class="badge badge-pill mx-1">@s</div>
                }
            </div>
            <div class="restaurant-list">
                @foreach (var restaurant in Model)
                {
                    @Html.Partial("_ShopCardPartial", restaurant);
                }
            </div>
        </div>
        <div class="map-area col-5">
            <div id="map" class="map w-100">
            </div>
        </div>
    </div>
</div>
<div id="notify"></div>


@Scripts.Render("~/bundles/js/jquery")
@Scripts.Render("~/bundles/js/bootstrap")
@Scripts.Render("~/bundles/js/ShopList")

@section endJS{
    <script src="~/Assets/JavaScript/Common/buzz.js"></script>
    <script>

        let showTicket = document.querySelectorAll('.show-ticket')
        let ticketArea = document.querySelectorAll('.ticket-area');
        for (let i = 0; i < ticketArea.length; i++) {
            showTicket[i].addEventListener('click', function () {
                ticketArea[i].classList.toggle('show');
                ticketArea[i].classList.toggle('border');
            })
        }

        function createBuzz(title, type) {
            Notify({
                title: `${title}`,
                type: `${type}`,
                duration: 2000,
                position:"top center"
            })
        }

        function controlFromFavorite(Icon) {

            $.ajax({
                cache: false,
                url: "../ToggleFavoriteShopList",
                method: "post",
                data: {
                    ShopId: Icon.getAttributeNode('shopid').value,
                    UserId: "@ViewBag.UserId"
                },
                success: function () {
                },
                error: function () {
                    createBuzz("發生錯誤", "danger")
                },
                complete: function () {
                    if (Icon.getAttribute('data-icon') == "bi:heart-fill") {
                        Icon.setAttribute('data-icon', 'bi:heart')
                        createBuzz("已經取消收藏囉", "danger")
                    } else {
                        Icon.setAttribute('data-icon', 'bi:heart-fill')
                        createBuzz("成功加入收藏囉", "success")
                    }
                }
            });
        }

        console.log(@Html.Raw(geometryJson));

        function initMap() {
            var taipei = {
                lat: 25.044367,
                lng: 121.535168
            };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                zoom: 14,
                center: taipei
            });
            // var marker = new google.maps.Marker({position: taipei, map: map});


            let addressRequest = new XMLHttpRequest()
            addressRequest.open('get', 'https://maps.googleapis.com/maps/api/geocode/json?address=復興南路一段279巷4號&key=AIzaSyCyO1vy0QaITVTahKLSJYfw_bgPxI7H7IU');
            addressRequest.send();
            addressRequest.onload = function () {
                let text = this.response;
                let coordinate = JSON.parse(text).results[0].geometry.location;
                let marker = new google.maps.Marker({
                    position: coordinate,
                    map: map
                })
            }
        }

    </script>
}

