@model IEnumerable<TicketHubApp.Models.ViewModels.ShopViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchList = (ViewBag.SearchString == null) ? new string[0] : ViewBag.SearchString.Split(' ');
    var model = Json.Encode(Model);
    var ajaxUrl = Json.Encode(Url.Action("ToggleFavoriteShopList", "Customer"));
    var searchStringJson = Json.Encode(ViewBag.SearchString);
    var a = Json.Encode(Url.Content("../Assets/Images/shop_logo.jpg"));
}

@Styles.Render("~/bundles/css/ShopList")

@section scripts{
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyO1vy0QaITVTahKLSJYfw_bgPxI7H7IU&callback=initMap">
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-7 restaurant-area">
            <h3 class="mt-4 ml-3">精選美饌</h3>
            <div class="tag-list ml-3 my-4">
                @foreach (var s in searchList)
                {
                    <div class="badge badge-pill mx-1">@s</div>
                }
            </div>
            <div class="restaurant-list">
                @foreach (var restaurant in Model)
                {
                    @Html.Partial("_ShopCardPartial", restaurant);
                }
            </div>
        </div>
        <div class="map-area col-5">
            <div id="map" class="map w-100">
            </div>
        </div>
    </div>
</div>
<div id="notify"></div>

@section endJS{
    <script src="~/Assets/JavaScript/Home/home.js"></script>
    <script src="~/Assets/JavaScript/Common/buzz.js"></script>
    <script>
        let searchContent = document.querySelector('.search-content').value = @Html.Raw(searchStringJson);

        let showTicket = document.querySelectorAll('.show-ticket')
        let ticketArea = document.querySelectorAll('.ticket-area');
        for (let i = 0; i < ticketArea.length; i++) {
            showTicket[i].addEventListener('click', function () {
                ticketArea[i].classList.toggle('show');
                ticketArea[i].classList.toggle('border');
            })
        }

        function createBuzz(title, type) {
            Notify({
                title: `${title}`,
                type: `${type}`,
                duration: 2000,
                position:"top center"
            })
        }

        let url = @Html.Raw(ajaxUrl)
        function controlFromFavorite(Icon) {

            $.ajax({
                cache: false,
                url: url,
                method: "post",
                data: {
                    ShopId: Icon.getAttributeNode('shopid').value,
                    UserId: "@ViewBag.UserId"
                },
                success: function () {
                },
                error: function () {
                    createBuzz("發生錯誤", "danger")
                },
                complete: function () {
                    if (Icon.getAttribute('data-icon') == "bi:heart-fill") {
                        Icon.setAttribute('data-icon', 'bi:heart')
                        createBuzz("已經取消收藏囉", "danger")
                    } else {
                        Icon.setAttribute('data-icon', 'bi:heart-fill')
                        createBuzz("成功加入收藏囉", "success")
                    }
                }
            });
        }

        let model = @Html.Raw(model)
            console.log(@Html.Raw(a));

        function initMap() {
            var taipei = {
                lat: 25.044367,
                lng: 121.535168
            };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 14,
                    center: { lat: Number(model[0].Geometry.split(' ')[0]), lng: Number(model[0].Geometry.split(' ')[1]) }
                }
            );
            // var marker = new google.maps.Marker({position: taipei, map: map});
            for (let i of model) {
                let geometry = i.Geometry.split(' ');
                let obj = { lat: Number(geometry[0]), lng: Number(geometry[1]) }
                let marker = new google.maps.Marker({
                    position: obj,
                    map: map
                })

                let infoWindow = new google.maps.InfoWindow({
                    content: `<div id="content">` +
                        '<div id="shopImage" class="bg-danger rounded p-2 mx-auto my-3">' +
                        '</div>' +
                        `<h4 id="firstHeading" class="firstHeading">${i.ShopName}</h4>` +
                        '<div id="bodyContent">' +
                        `<p class="my-2">${i.ShopIntro}</p>` +
                        `<p class="my-2">地址 : ${i.City + i.District + i.Address}</p>` +
                        `<p class="my-2">訂位專線 : ${i.Phone}</p>` +
                        '</div>' +
                        '</div>'
                });

                marker.addListener('click', function () {
                    let shop = document.getElementById(`${i.Id}`)
                    shop.scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" })
                    infoWindow.open(map, marker);
                });

                marker.addListener('mouseover', function () {
                    let shop = document.getElementById(`${i.Id}`)
                    //shop.style.backgroundColor = "black"
                    shop.classList.toggle('shadow');
                    shop.classList.toggle('hover');
                });
                marker.addListener('mouseout', function () {
                    infoWindow.close();
                    let shop = document.getElementById(`${i.Id}`)
                    //shop.style.backgroundColor = "black"
                    shop.classList.toggle('shadow');
                    shop.classList.toggle('hover');
                });

                infoWindow.addListener('click', function () {
                    let shop = document.querySelector(`#${i.id}`);
                    shop.scrollIntoView()

                })
            }
        }


    </script>
}

