@model TicketHubApp.Models.ViewModels.ProductDetailViewModel

@Styles.Render("~/bundles/css/ProductDescription")


<div class="container">
    <div class="foodstyle">

    </div>

    <div class="mt-3 img-banner rounded d-flex align-items-center">
        <img class="w-100" src="@Model.ImgPath " />

    </div>
    <!-- 商品標頭、簡介 -->
    <div class="row main mt-3">
        <div class="col-8">
            <h1>@Model.Title | @Model.ShopName </h1>
            <br />
            <div class="location">
                <ol class="row">
                    <li><span class="iconify place-marker" data-icon="ic:baseline-place" data-inline="false"></span></li>
                    <li class="breadcrumb-item"><a href="#">新北市</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page" href="#">新店區</a></li>
                </ol>
            </div>
            <div class="description-context">
                <h3>餐廳簡介</h3>
                <hr>
                <p class="text-muted">
                    @Model.ShopIntro
                </p>
            </div>
            <div class="mt-3 explaininfo">
                <!-- 票券可使用資訊 -->
                <!-- <div class="col-8"> -->
                <div class="">
                    <!-- 有制式form 由客戶新增 -->
                    <h3>餐廳資訊</h3>
                    <hr>
                    <div class="row">
                        <p class="col-6">電話: @Model.Phone</p>
                        <p class="col-6">傳真: @Model.Fax </p>
                    </div>
                    <p>Email:@Model.Email </p>
                    <p id="address">地址:@Model.District @Model.Address </p>
                    <p>店家官網: @Model.Website</p>
                </div>
                <!-- </div> -->
            </div>
            <!-- 須由客戶自行新增 -->
            <h3 id="exContent" class="mt-3">優惠內容</h3>
            <hr>
            <h5>@Model.Title</h5>
            <ol>
                <li>發行日: @Model.ReleasedDate.ToString("yyyy-MM-dd")</li>
                <li>請提前預約，並告知使用ticketHub票券</li>
            </ol>
            <br />
            <p>
                @Model.Memo
            </p>
            <!-- 固定 -->
            <h3 id="exHowToUse" class="mt-3">如何使用</h3>
            <hr>
            <p>憑證使用方式</p>
            <p>現場請出示電子憑證</p>
            <p>憑證兌換期限</p>
            <P>票券優惠期間須按照票券日期，逾期須補齊差額至原價</P>
            <br />
        </div>
        <div class="col-4">
            <div class="rightcar">
                <div class="card">
                    <div class="card-body">
                        <h4 id="price" class="card-title">TWD @Model.DiscountPrice</h4>
                        <p class="originprice">原價 @Model.OriginalPrice</p>
                        <button class="btn btn-info cartbtn w-100 text-center addcart" onclick="UpcartCounter()">加入購物車</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mapApi"></div>
<!-- 推薦行程 -->
@*<div class="carousel2 owl-carousel mt-4">
    @foreach (var item in Model.RecommenItems.Items)
    {
        @Html.Partial("_CarouselCard", item)
    }
</div>*@

@section Scripts {
    <script type="text/javascript" src="~/Assets/JavaScript/Product/ProductDescription.js" charset="utf-8"></script>
    @*@Scripts.Render("~/bundles/js/ProductDescription")*@
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbOibXZPeCKpq5tbdQZD0B5By6Z3MkQHc&callback=initMap"></script>
}
<script>
    UpdateCartData();

    let showCart = document.getElementsByClassName("showCart")[0];
    showCart.style.display = "none";
    let open_display = document.getElementsByClassName("open")[0];


    function shopCart() {
        showCart.style.display = "block";
    }

    function shopCartMove() {
        showCart.style.display = "none";
    }

    //購物車更新數量
    function UpcartCounter() {
        let data = JSON.parse(localStorage.getItem('Cart'));
        let counter = 0;
        //console.log(data);
        // 顯示加總數
        for (let item of data) {
            let amount = +item.amount;
            counter = counter + amount;
            console.log(counter);
        }

        //console.log(counter);
        // document.getElementById("cartCounter").innerText = counter;
        document.getElementsByClassName("cartCounter")[0].innerText = counter;
        document.getElementsByClassName("cartCounter")[1].innerText = counter;
    }

    //最新推出Card 事件
    function addNewCart() {
        $(".addCart").click(function (e) {
            var id = `${$(this).parent().parent().parent().find("#chart_id").val()}`;
            var title = $(this).parent().parent().parent().find("#Title").text();
            var details = $(this).parent().parent().parent().find("#details").text();
            var discountPrice = Number($(this).parent().parent().parent().find("#DiscountPrice").text().replace("$", ""));
            var amount = Number($(this).parent().parent().parent().find("#cartcount").val());
            let imgSrc = $(this).parent().parent().parent().parent().find("img").attr("src");
            let cartItem = {
                id: id,
                title: title,
                details: details,
                price: discountPrice,
                amount: amount,
                img: `${imgSrc}`
            }

            if (localStorage.getItem('Cart') == null) {
                localStorage.setItem('Cart', JSON.stringify([cartItem]))
            } else {
                let cart = JSON.parse(localStorage.getItem('Cart'))
                if (cart.filter(x => x.id == cartItem.id).length > 0) {
                    cart[cart.indexOf(cart.filter(x => x.id == cartItem.id)[0])].amount += cartItem.amount
                } else {
                    cart.push(cartItem);
                }
                localStorage.setItem('Cart', JSON.stringify(cart))
            }
            UpcartCounter();
            UpdateCartData()
        })
        add();
        sub();
    }

    //購物車顯示事件
    function UpdateCartData() {
        var cart = document.querySelector(".cart")
        cart.innerHTML = ''

        if (localStorage.getItem('Cart') != null) {
            let cartData = JSON.parse(localStorage.getItem('Cart'))

            for (let item of cartData) {
                console.log(item);
                let carthtml = `
            <div class="cart-item">
                <a href="">
                    <div class="product-img img-bg">
                    </div>
                </a>
                <div class="cart-detail">
                    <div class="product-detail ellipsis">
                        <h3 class="ellipsisw-200">
                            <a href="" id="puttitle" class="ellipsis">${item.title}</a>
                        </h3>
                        <!--div class="product-option ellipsis">${item.details}</div-->
                    </div>
                    <div class="text-tag"></div>
                    <div>數量 x <span class="text-tag putamout" id="putamout">${item.amount}</span></div>
                    <div class="product-pricing">
                        <h4>TWD <span id="putprice">${item.price}</span></h4>
                    </div>
                </div>
                <div class="product-action">
                    <button type="button" class="btn btn-light" onClick="deleteCartItem('${item.id}')">
                        <span class="iconify" data-icon="bi:trash" data-inline="false"></span>
                    </button>
                </div>
            </div>`

                cart.innerHTML += carthtml;
            }
        }

    }

</script>
