@model IEnumerable<TicketHubApp.PlatformViewModels.MemberViewModel>

@{
    ViewBag.Title = "Index";
}
    <div class="row col-md-12 m-auto">
        <h2>後台管理系統 / 會員管理</h2>
    </div>

    <div class="row col-md-12 m-auto">
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="disabledTextInput">搜尋會員</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <div class="form-group">
                    <label for="disabledSelect">排序方式</label>
                    <select id="disabledSelect" class="form-control">
                        <option>最近一週加入</option>
                        <option>最近一個月加入</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">查詢</button>
            </fieldset>
        </form>
    </div>
   
    <div class="row col-md-12">
        <table class="table table-bordered table-hover table-striped m-auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>

@section endCSS{
    <style>
        .row{
            margin:20px 0px !important;
        }
    </style>    
}

@section endJS{
    <script>

    </script>    
}
