<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/Home")
    @Scripts.Render("~/bundles/js/modernizr")
</head>
<body>
    <div class="top-bar" style="justify-content: space-between;">
        <div class="text-left">
            <span class="iconify mt-1" data-icon="fa-solid:phone-alt" data-inline="false" style=""></span>
            <a href="tel:02-23457778" title="phone">
                (123) 456-7890
            </a>
            <span class="iconify mt-1 ml-1" data-icon="clarity:user-solid" data-inline="false"></span>
            <a href="" title="">
                客服資訊
            </a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">
            <img src="/Assets/Images/Home/logo.png" alt="logo"
                 style="width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active" style="display: flex;align-items: center;">
                    <a href="" class="nav-link">關於我們</a>
                </li>
                <li class="nav-item dropdown active" style="display: flex;align-items: center;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        熱門票劵
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="" class="dropdown-item">異國料理</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">自助百匯</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">早午餐</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">下午餐</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">素食餐廳</a>
                    </div>
                </li>
                <li class="nav-item dropdown active" style="display: flex;align-items: center;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        吃到飽
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="" class="dropdown-item">燒肉</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">火鍋</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">熱炒</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">超值餐廳</a>
                    </div>
                </li>
                <li class="nav-item dropdown active" style="display: flex;align-items: center;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        限時特惠
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="" class="dropdown-item">異國料理</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">自助百匯</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">早午餐</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">下午餐</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">素食餐廳</a>
                    </div>
                </li>
                <li class="dropdown member-dropdown member-item mr-3" style="display: flex;align-items: center;">
                    <a class="mt-2" data-toggle="dropdown">
                        <div class="editor-logo"></div>
                    </a>
                    <ul aria-labelledby="dLabel" class="dropdown-menu" dropdown-menu-right>
                        <li class="list-item profile">
                            <a href="">
                                <div class="editor-logo">
                                </div>
                                <div class="list-item-title">
                                    <div class="title">XXX</div>
                                </div>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="list-item">
                            <a href="">
                                <span class="list-item-title">折扣券</span>
                                <span class="list-item-addon text-warning">0</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a id="side-navber-order" href="">
                                <span class="list-item-title">訂單管理</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a id="side-navber-msg" href="">
                                <span class="list-item-title">訊息管理</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a id="side-navbar-wish-list" href="">
                                <span class="list-item-title">我的收藏</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="logout">
                            <a href="">
                                登出
                            </a>
                        </li>
                    </ul> <span class="dropdown-arrow"></span>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-3">
                <button class="btn btn-outline-info my-2 my-sm-0 px-2" type="submit">
                    <span class="iconify" data-icon="clarity:shopping-cart-solid" data-inline="false"
                          style="font-size: 20px;"></span>
                </button>
            </form>
        </div>
    </nav>

    @RenderBody()
    <hr />
    <footer>
        <div class="footbg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="f-item">
                            <div class="icon">
                                <span class="iconify" data-icon="fa-solid:utensils" data-inline="false"
                                      style="font-size: 48px; color:#ffffff"></span>
                            </div>
                            <div class="text">
                                <h5>熱門類別</h5>
                                <hr>
                                <a href="">異國料理</a>
                                <a href="">自助百匯</a>
                                <a href="">早午餐</a>
                                <a href="">下午茶</a>
                                <a href="">素食餐廳</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="f-item">
                            <div class="icon">
                                <span class="iconify" data-icon="fa-solid:home" data-inline="false"
                                      style="font-size: 48px; color:#ffffff"></span>
                            </div>
                            <div class="text">
                                <h5>合作夥伴</h5>
                                <hr>
                                <a href="">成為供應商</a>
                                <a href="">供應商登入</a>
                                <a href="">行銷規劃</a>
                                <a href="">人才招募</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="f-item">
                            <div class="icon">
                                <span class="iconify" data-icon="fa-solid:ticket-alt" data-inline="false"
                                      style="font-size: 48px; color:#ffffff"></span>
                            </div>
                            <div class="text">
                                <h5>票劵資訊</h5>
                                <hr>
                                <a href="">瀏覽紀錄</a>
                                <a href="">訂單查詢</a>
                                <a href="">消費者登入</a>
                                <a href="">票劵使用紀錄</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="f-item">
                            <div class="icon">
                                <img src="/Assets/Images/Home/ticketHub.png" alt="">
                            </div>
                            <div class="text-mb">
                                <h4>TicketHub</h4>
                                <div class="btns">
                                    <button>
                                        <span class="iconify" data-icon="ant-design:twitter-outlined"
                                              data-inline="false" style="margin-top: -8px;"></span>
                                    </button>
                                    <button>
                                        <span class="iconify" data-icon="bx:bxl-facebook" data-inline="false"
                                              style="margin-top: -8px;"></span>
                                    </button>
                                    <button>
                                        <span class="iconify" data-icon="bx:bxl-pinterest-alt" data-inline="false"
                                              style="margin-top: -8px;"></span>
                                    </button>
                                    <button>
                                        <span class="iconify" data-icon="bx:bxl-linkedin" data-inline="false"
                                              style="margin-top: -8px;"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footbar">
            <p>Copyright © 2020 TicketHub</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/iconify")
    @Scripts.Render("~/bundles/js/momentjs")
    @Scripts.Render("~/bundles/js/Home")


    @RenderSection("scripts", required: false)
</body>
</html>
