<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/bundles/css/Shop")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

</head>
<body class="shopLayout">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white mb-3">
        <div class="container">
            <a class="navbar-brand mr-1" href="#">
                <img src="~/Assets/Images/Shop/logo.png" style="width: 100px;"/>
           
            </a>
            <span class="mr-auto">賣家中心</span>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="sidebar col-2 text-left px-0 position-sticky">
                <div class=" text-center shopLogo"></div>
                <div class="div py-3 pl-4 border-bottom" data-toggle="collapse" aria-controls="storeManegement" data-target="#storeManegement">
                    <span class="iconify" data-icon="zmdi:store" data-inline="false"></span>
                    <span>商家管理</span>
                    <span class="iconify ml-5" data-icon="ic:outline-keyboard-arrow-down" data-inline="false"></span>
                </div>
                <div class="collapse show" id="storeManegement">
                    <ul>
                        <li class="py-3 pl-4">@Html.ActionLink("商家資訊", "ShopInfo", "Shop", null, new { @class="liColor pl-5" })</li>
                    </ul>
                </div>
                <div class="div py-3 pl-4 border-bottom" data-toggle="collapse" aria-controls="productManegement" data-target="#productManegement">
                    <span class="iconify" data-icon="carbon:ticket" data-inline="false"></span>
                    <span>商品管理</span>
                    <span class="iconify ml-5" data-icon="ic:outline-keyboard-arrow-down" data-inline="false"></span>
                </div>
                <div class="collapse show" id="productManegement">
                    <ul>
                        <li class="py-3 pl-4">@Html.ActionLink("票券上架", "CreateIssue", "Shop", null, new { @class = "liColor pl-5" })</li>
                        <li class=" py-3 pl-4">@Html.ActionLink("票券列表", "IssueList", "Shop", null, new { @class = "liColor pl-5" })</li>
                    </ul>
                </div>
                <div class="div py-3 pl-4 border-bottom" data-toggle="collapse" aria-controls="sellingAnalysis" data-target="#sellingAnalysis">
                    <span class="iconify" data-icon="carbon:text-link-analysis" data-inline="false"></span>
                    <span>銷售分析</span>
                    <span class="iconify ml-5" data-icon="ic:outline-keyboard-arrow-down" data-inline="false"></span>
                </div>
                <div class="collapse show" id="sellingAnalysis">
                    <ul>
                        <li class="py-3 pl-4">@Html.ActionLink("報表分析", "SalesReport", "Shop", null, new { @class = "liColor pl-5" })</li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <div class="catalogue text-secondary">
                    <span class="iconify" data-icon="fa:home" data-inline="false"></span>
                    <span> / </span>
                    <span>商店</span>
                </div>
                <div class="renderbody">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/js/Shop")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required:false)
    @RenderSection("endJS", required:false)
</body>
</html>
