@{
    var pageType = Request.RawUrl.Split('/')[1].ToLower();
    pageType = string.IsNullOrEmpty(pageType) ? "home" : pageType;
}
<nav class="navbar navbar-expand-lg bg-light bottom-strip-@pageType @(pageType == PageType.HOME ? "sticky-top" : "")">
    <div class="container-fluid">
        <a class="navbar-brand ml-2" href="/@(pageType==PageType.CUSTOMER ? PageType.HOME : pageType)/Index">
            <img src="/Assets/Images/Home/logo.png" alt="logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (pageType == "home" || pageType == "customer")
            {
                using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.AntiForgeryToken()
                        <div class="input-group-prepend">
                            @{
                                List<SelectListItem> searchType = new List<SelectListItem>{
                                    new SelectListItem{Text = "票券", Value = "票券", Selected = true},
                                    new SelectListItem{Text = "餐廳", Value = "餐廳"}
                                };
                            }
                            @Html.DropDownList("SearchType", searchType, new { @class = "custom-select border-right-0" })
                        </div>
                        @Html.TextBox("SearchContent", null, new { @class = "form-control search-content" })
                        <div class="input-group-append">
                            <button class="search btn btn-cust pl-3 pr-3" type="submit">
                                <span class="iconify"
                                      data-icon="bx:bx-search" data-inline="false"></span>
                            </button>
                        </div>
                    </div>
                }
            }
            <ul class="navbar-nav ml-auto mr-3">
                @if (pageType == "home" || pageType == "customer")
                {
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            熱門票劵
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">異國料理</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">自助百匯</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">早午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">下午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">素食餐廳</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            吃到飽
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">燒肉</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">火鍋</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">熱炒</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">超值餐廳</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            限時特惠
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">異國料理</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">自助百匯</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">早午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">下午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">素食餐廳</a>
                        </div>
                    </li>
                }
                @Html.Action("GenLoginPartial", "Menu", new { pageType = pageType })
            </ul>

            @if (pageType == "home" || pageType == "customer")
            {
                <ul class="form-inline navbar-nav mr-5 poition-relative" onmousemove="shopCart()" onclick=""
                    onmouseout="shopCartMove()">
                    <li class="dropdown cart-dropdown open dropleft">
                        <a class="cart-link hov-color-cust">
                            <span class="iconify text-lg-1" data-icon="clarity:shopping-cart-solid" data-inline="false"></span>
                            <div class="badge span-badge bg-danger cartCounter" id="cartCounter">
                                0
                            </div>
                        </a>
                        <div class="dropdown-menu show-dropdown showCart hidden-sm hidden-xs cart-dropdown-menu">
                            <div class="cart-group cart_delete_item cart" id="cart">

                            </div>
                            <div class="cart-footer d-flex justify-content-between align-items-center p-2 border-top">
                                <div class="text-tag">共<span id="" class="cartCounter">0</span>件商品</div>
                                @Html.ActionLink("查看購物車", "ProductCart", "ProductCart", null, new { @class = "btn btn-cust" })
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>

<!-- ------ -->
<button id="btnScroll" class="@pageType">▲<span>Top</span></button>
<!-- ------ -->

@section endJS{
    <script src="~/Assets/JavaScript/Home/home.js"></script>
    <!--$(document).ready(function () {
    add();
    sub();
    UpdateCartData();
    UpdateCartData2();
    UpcartCounter();
    addNewCart();
    });


    //導航欄購物車
    let showCart = document.getElementsByClassName("showCart")[0];
    showCart.style.display = "none";
    let open_display = document.getElementsByClassName("open")[0];


    function shopCart() {
    showCart.style.display = "block";
    }

    function shopCartMove() {
    showCart.style.display = "none";
    }
    // 數量增加
    function add() {
    $(".add_button").click(function () {
    var number = Number($(this).parent().parent().find("#cartcount").val())
    $(this).parent().parent().find("#cartcount").val(number + 1)
    });
    }

    // 數量减少
    function sub() {
    $(".sub_button").click(function () {
    var number = Number($(this).parent().parent().find("#cartcount").val())
    if (number == 1) {

    } else {
    $(this).parent().parent().find("#cartcount").val(number - 1)
    }

    });
    }

    //刪除購買商品
    function deleteCartItem(id) {
    console.log(id)
    console.log("delete")
    let cartData = JSON.parse(localStorage.getItem('Cart'))

    cartData = cartData.filter(x => x.id != id)

    localStorage.setItem('Cart', JSON.stringify(cartData))

    UpdateCartData();
    UpdateCartData2();
    UpcartCounter();
    }

    //購物車更新數量
    function UpcartCounter() {
    let data = JSON.parse(localStorage.getItem('Cart'));
    let counter = 0;
    //console.log(data);
    // 顯示加總數
    for (let item of data) {
    let amount = +item.amount;
    counter = counter + amount;
    console.log(counter);
    }

    //console.log(counter);
    // document.getElementById("cartCounter").innerText = counter;
    document.getElementsByClassName("cartCounter")[0].innerText = counter;
    document.getElementsByClassName("cartCounter")[1].innerText = counter;
    }

    //最新推出Card 事件
    function addNewCart() {
    $(".addCart").click(function (e) {
    console.log('123')
    var id = `${$(this).parent().parent().parent().find("#chart_id").val()}`;
    var title = $(this).parent().parent().parent().find("#Title").text();
    var details = $(this).parent().parent().parent().find("#details").text();
    var discountPrice = Number($(this).parent().parent().parent().find("#DiscountPrice").text().replace("$", ""));
    var amount = Number($(this).parent().parent().parent().find("#cartcount").val());

    //console.log(id)
    //console.log(title)
    //console.log(details)
    //console.log(discountPrice)
    //console.log(amount)

    let cartItem = {
    id: id,
    title: title,
    details: details,
    price: discountPrice,
    amount: amount
    }

    if (localStorage.getItem('Cart') == null) {
    localStorage.setItem('Cart', JSON.stringify([cartItem]))
    } else {
    let cart = JSON.parse(localStorage.getItem('Cart'))
    if (cart.filter(x => x.id == cartItem.id).length > 0) {
    cart[cart.indexOf(cart.filter(x => x.id == cartItem.id)[0])].amount += cartItem.amount
    } else {
    cart.push(cartItem);
    }
    localStorage.setItem('Cart', JSON.stringify(cart))
    }

    UpcartCounter();
    UpdateCartData()
    })
    }

    //購物車顯示事件
    function UpdateCartData() {
    var cart = document.querySelector(".cart")
    cart.innerHTML = ''

    if (localStorage.getItem('Cart') != null) {
    let cartData = JSON.parse(localStorage.getItem('Cart'))

    for (let item of cartData) {
    console.log(item);
    let carthtml = `
    <div class="cart-item">
        <a href="">
            <div class="product-img img-bg">
            </div>
        </a>
        <div class="cart-detail">
            <div class="product-detail ellipsis">
                <h3 class="ellipsisw-200">
                    <a href="" id="puttitle" class="ellipsis">${item.title}</a>
                </h3>-->
                <!--div class="product-option ellipsis">${item.details}</div-->
            <!--</div>
            <div class="text-tag"></div>
            <div>數量 x <span class="text-tag putamout" id="putamout">${item.amount}</span></div>
            <div class="product-pricing">
                <h4>TWD <span id="putprice">${item.price}</span></h4>
            </div>
        </div>
        <div class="product-action">
            <button type="button" class="btn btn-light" onClick="deleteCartItem('${item.id}')">
                <span class="iconify" data-icon="bi:trash" data-inline="false"></span>
            </button>
        </div>
    </div>`

    cart.innerHTML += carthtml;
    }
    }

    }


    //首選星級餐廳、熱賣票劵Card 事件
    $(".card_addToCart").click(function () {
    let card = $(this).parents(".product-detail");

    let id = card.find(".card_id").val();
    let title = card.find(".card_title").text();
    let discountPrice = Number(card.find(".card_discountPrice").text().replace("$", ""));

    //key value值
    let cartItem = {
    id: id,
    title: title,
    price: discountPrice,
    amount: 1
    }

    if (localStorage.getItem('Cart') == null) {
    localStorage.setItem('Cart', JSON.stringify([cartItem]))
    } else {
    let cart = JSON.parse(localStorage.getItem('Cart'))
    if (cart.filter(x => x.id == cartItem.id).length > 0) {
    cart[cart.indexOf(cart.filter(x => x.id == cartItem.id)[0])].amount += 1
    } else {
    cart.push(cartItem);
    }
    localStorage.setItem('Cart', JSON.stringify(cart))
    }

    UpcartCounter();
    UpdateCartData2()
    });

    //購物車顯示事件
    function UpdateCartData2() {
    var cart = document.querySelector(".cart")
    cart.innerHTML = ''

    if (localStorage.getItem('Cart') != null) {
    let cartData = JSON.parse(localStorage.getItem('Cart'))

    for (let item of cartData) {
    let carthtml = `
    <div class="cart-item">
        <a href="">
            <div class="product-img img-bg">
            </div>
        </a>
        <div class="cart-detail">
            <div class="product-detail ellipsis">
                <h3 class="ellipsisw-200">
                    <a href="" id="puttitle" class="ellipsis">${item.title}</a>
                </h3>
            </div>
            <div>數量 x <span class="text-tag putamout" id="putamout">${item.amount}</span></div>
            <div class="product-pricing">
                <h4>TWD <span id="putprice">${item.price}</span></h4>
            </div>
        </div>
        <div class="product-action">
            <button type="button" class="btn btn-light" onClick="deleteCartItem('${item.id}')">
                <span class="iconify" data-icon="bi:trash" data-inline="false"></span>
            </button>
        </div>
    </div>`

    cart.innerHTML += carthtml
    }
    }

    }-->
}