@{
    var pageType = Request.RawUrl.Split('/')[1];
    pageType = string.IsNullOrEmpty(pageType) ? "Home" : pageType;
}
<nav class="navbar navbar-expand-lg bg-light bottom-strip-@pageType @(pageType == PageType.HOME ? "sticky-top" : "")">
    <div class="@(pageType == "Home" ? "container-fluid" : "container")">
        <a class="navbar-brand ml-2" href="/@pageType/Index">
            <img src="/Assets/Images/Home/logo.png" alt="logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (pageType == "Home")
            {
                using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.AntiForgeryToken()
                        <div class="input-group-prepend">
                            @{
                                List<SelectListItem> searchType = new List<SelectListItem>{
                                    new SelectListItem{Text = "票券", Value = "票券", Selected = true},
                                    new SelectListItem{Text = "餐廳", Value = "餐廳"}
                                };
                            }
                            @Html.DropDownList("SearchType", searchType, new { @class = "custom-select border-right-0" })
                        </div>
                        @Html.TextBox("SearchContent", null, new { @class = "form-control search-content" })
                        <div class="input-group-append">
                            <button class="search btn btn-info pl-3 pr-3" type="submit" id="">
                                <span class="iconify"
                                      data-icon="bx:bx-search" data-inline="false"></span>
                            </button>
                        </div>
                    </div>
                }
            }
            <ul class="navbar-nav ml-auto mr-3">
                @if (pageType == "Home")
                {
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            熱門票劵
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">異國料理</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">自助百匯</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">早午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">下午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">素食餐廳</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            吃到飽
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">燒肉</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">火鍋</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">熱炒</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">超值餐廳</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            限時特惠
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">異國料理</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">自助百匯</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">早午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">下午餐</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">素食餐廳</a>
                        </div>
                    </li>
                }
                @Html.Partial("_LoginPartial")
            </ul>

            @if (pageType == "Home")
            {
                <ul class="form-inline navbar-nav mr-5 poition-relative" onmousemove="shopCart()" onclick=""
                    onmouseout="shopCartMove()">
                    <li class="dropdown cart-dropdown open dropleft">
                        <a class="cart-link hov-color-cust">
                            <span class="iconify text-lg-1" data-icon="clarity:shopping-cart-solid" data-inline="false"></span>
                            <div class="badge span-badge bg-danger cartCounter" id="cartCounter">
                                0
                            </div>
                        </a>
                        <div class="dropdown-menu show-dropdown showCart hidden-sm hidden-xs cart-dropdown-menu">
                            <div class="cart-group cart_delete_item cart" id="cart">

                            </div>
                            <div class="cart-footer d-flex justify-content-between align-items-center p-2 border-top">
                                <div class="text-tag">共<span id="" class="cartCounter">0</span>件商品</div>
                                <button href="#" class="btn btn-cust">查看購物車</button>
                            </div>
                        </div>
                    </li>
                </ul>

            }
        </div>
    </div>
</nav>