@{
    var pageType = Request.RawUrl.Split('/')[1].ToLower();
    pageType = string.IsNullOrEmpty(pageType) ? "home" : pageType;
}
<nav class="navbar navbar-expand-lg bg-light bottom-strip-@pageType @(pageType == PageType.HOME ? "sticky-top" : "")">
    <div class="container-fluid">
        <a class="navbar-brand ml-2" href="/@(pageType==PageType.CUSTOMER ? PageType.HOME : pageType)/Index">
            <img src="/Assets/Images/Home/logo.png" alt="logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (pageType == "home" || pageType == "customer")
            {
                using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.AntiForgeryToken()
                        <div class="input-group-prepend">
                            @{
                                List<SelectListItem> searchType = new List<SelectListItem>{
                                    new SelectListItem{Text = "票券", Value = "票券", Selected = true},
                                    new SelectListItem{Text = "餐廳", Value = "餐廳"}
                                };
                            }
                            @Html.DropDownList("SearchType", searchType, new { @class = "custom-select border-right-0" })
                        </div>
                        @Html.TextBox("SearchContent", null, new { @class = "form-control search-content" })
                        <div class="input-group-append">
                            <button class="search btn btn-cust pl-3 pr-3" type="submit">
                                <span class="iconify"
                                      data-icon="bx:bx-search" data-inline="false"></span>
                            </button>
                        </div>
                    </div>
                }
            }
            <ul class="navbar-nav ml-auto mr-3">
                @if (pageType == "home" || pageType == "customer")
                {
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            熱門票劵
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("異國料理", "TicketList", "Customer", new { input = "式" }, new { @class = "dropdown-item hov-color-cust" })</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("自助百匯", "TicketList", "Customer", new { input = "吃到飽" }, new { @class = "dropdown-item hov-color-cust" })</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("早午餐", "TicketList", "Customer", new { input = "早午餐" }, new { @class = "dropdown-item hov-color-cust" })</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("下午茶", "TicketList", "Customer", new { input = "下午茶" }, new { @class = "dropdown-item hov-color-cust" })</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("素食餐廳", "TicketList", "Customer", new { input = "素食" }, new { @class = "dropdown-item hov-color-cust" })</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active d-flex align-items-center pb-0">
                        <a class="nav-link dropdown-toggle hov-color-cust" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            吃到飽
                        </a>
                        <div class="dropdown-menu text-sm-9 border-0 shadow" aria-labelledby="navbarDropdown">
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("燒肉", "TicketList", "Customer", new { input = "燒肉" }, new { @class = "dropdown-item hov-color-cust" })</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("火鍋", "TicketList", "Customer", new { input = "火鍋" }, new { @class = "dropdown-item hov-color-cust" })</a>
                            <div class="dropdown-divider"></div>
                            <a href="" class="dropdown-item hov-color-cust">@Html.ActionLink("熱炒", "TicketList", "Customer", new { input = "熱炒" }, new { @class = "dropdown-item hov-color-cust" })</a>
                        </div>
                    </li>
                }
                @Html.Action("GenLoginPartial", "Menu", new { pageType = pageType })
            </ul>

            @if (pageType == "home" || pageType == "customer")
            {
                <ul class="form-inline navbar-nav mr-5 poition-relative" onmousemove="shopCart()" onclick=""
                    onmouseout="shopCartMove()">
                    <li class="dropdown cart-dropdown open dropleft">
                        <a class="cart-link hov-color-cust">
                            <span class="iconify text-lg-1" data-icon="clarity:shopping-cart-solid" data-inline="false"></span>
                            <div class="badge span-badge bg-danger cartCounter" id="cartCounter">
                                0
                            </div>
                        </a>
                        <div class="dropdown-menu show-dropdown showCart hidden-sm hidden-xs cart-dropdown-menu">
                            <div class="cart-group cart_delete_item cart" id="cart">

                            </div>
                            <div class="cart-footer d-flex justify-content-between align-items-center p-2 border-top">
                                <div class="text-tag">共<span id="" class="cartCounter">0</span>件商品</div>
                                @Html.ActionLink("查看購物車", "ProductCart", "ProductCart", null, new { @class = "btn btn-cust" })
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>

<!-- ------ -->
<button id="btnScroll" class="@pageType">▲<span>Top</span></button>
<!-- ------ -->
<!-- Fb Messenger  -->
<!-- Load Facebook SDK for JavaScript -->
<!--<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v8.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>-->

<!-- Your Chat Plugin code -->
<!--<div class="fb-customerchat"
     attribution=setup_tool
     page_id="106075074603628"
     theme_color="#fcc16d"
     greeting_dialog_display="fade" 
     greeting_dialog_delay="50"
     logged_in_greeting="歡迎與我們聯絡"
     logged_out_greeting="歡迎與我們聯絡">
</div>-->