@model TicketHubApp.Models.ViewModels.ShopIssueViewModel

<div class="issue bg-white d-flex ticket position-relative rounded w-100 my-3" style="height:250px;">
    <div class="position-relative ticketImg col-md-4 border" style="background-image:url(@Model.ImgPath)"></div>
    <div class="col-md-8">

        @if (ViewBag.WishIssue != null && ViewBag.WishIssue.Contains(Model.Id))
        {
            <span issueid="@Model.Id" class="iconify position-absolute wishHeart" data-icon="bi:heart-fill" data-inline="false" onclick="controlFromFavorite(this)"></span>
        }
        else if (ViewBag.WishIssue != null)
        {
            <span issueid="@Model.Id" class="iconify position-absolute wishHeart" data-icon="bi:heart" data-inline="false" onclick="controlFromFavorite(this)"></span>
        }
        else
        {
            <span class="iconify position-absolute wishHeart" data-icon="bi:heart-fill" data-inline="false"></span>
        }

        <h3 class="mt-4 mb-0">@Model.Title</h3>
        <div class="showTag my-1">
            @if (Model.TagList != null && Model.TagList.Count() != 0)
            {
                foreach (var tag in Model.TagList)
                {
                    <span>@tag</span>
                }
            }
        </div>
        <p class="description">@Model.Memo</p>
        <div>
            <span class="iconify" data-icon="carbon:location" data-inline="false"></span>
            <span class="description">@Model.City @Model.District</span>
        </div>
        <div class="position-absolute" style="right: 10px; bottom: 10px;">
            <p class="ticketListOldPrice m-0">TWD @Model.OriginalPrice</p>
            <p class="ticketListSalesPrice m-0">TWD<span> @Model.DiscountPrice</span></p>
        </div>
    </div>
</div>
